#header-global {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 25px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: var(--green);
}