#home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container {
  height: 500px;
  /*width: 1200px;*/
}

#home-portal {
  height: 100%;
  width: 100%;
  display: flex;
}

#home-portal-left {
  height: 100%;
  /*width: 30%;*/
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-portal-right {
  height: 100%;
  /*width: 30%;*/
  width: 600px;
}

#home-portal-positions {
  height: 100%;
  /*width: 30%;*/
  width: 300px;
}

.home-portal-input {
  display: flex;
  align-items: center;
}