#status {
  height: 100%;
  width: 100%;
  border-left-style: solid;
  border-left-color: var(--green);
}

#status-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

#status-container-top {
  height: 50%;
  width: 100%;
  overflow-y: auto;
}

#status-container-bottom {
  height: 50%;
  width: 100%;
  overflow-y: auto;
}

.status-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.status-amount {
  font-size: 16px;
}